/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2024 @Film Echo
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --rich-black-fogra-29: hsl(0,81%,24%);
    --rich-black-fogra-39: hsl(0,49%,8%);
    --raisin-black: hsl(0,14%,10%);
    --eerie-black: hsl(0,43%,4%);
    --light-gray: hsl(0, 3%, 80%);
    --gunmetal-1: hsl(0,100%,20%);
    --gunmetal-2: hsl(0,0%,20%);
    --gainsboro: hsl(0, 7%, 88%);
    --citrine: hsl(0,81%,24%);
    --xiketic: hsl(0,14%,10%);
    --gray-x: hsl(0, 0%, 74%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(313, 56%, 50%);
    --jet: hsl(0,0%,20%);
  
    /**
     * typography
     */
  
    --ff-poppins: 'Poppins', sans-serif;
  
    --fs-1: 36px;
    --fs-2: 32px;
    --fs-3: 30px;
    --fs-4: 24px;
    --fs-5: 20px;
    --fs-6: 18px;
    --fs-7: 16px;
    --fs-8: 15px;
    --fs-9: 14px;
    --fs-10: 13px;
    --fs-11: 12px;
    --fs-12: 11px;
  
    --fw-500: 500;
    --fw-700: 700;
  
    /**
     * transition
     */
  
    --transition-1: 0.15s ease;
    --transition-2: 0.25s ease-in;
  
    /**
     * spacing
     */
  
    --section-padding: 100px;
  
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  input {
    font: inherit;
    width: 100%;
    border: none;
  }
  
  select,
  button {
    font: inherit;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
  }
  
  body { background: var(--eerie-black); }
  
  body.active { overflow: hidden; }
  
  
  
  
  
  /*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  /**
   * TITLES & SUBTITLES
   */
  
  .h1,
  .h2,
  .h3 {
    color: var(--white);
    line-height: 1.2;
  }
  
  .h1 { font-size: var(--fs-1); }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 { font-size: var(--fs-6); }
  
  .section-subtitle {
    color: var(--citrine);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .section-title { text-align: center; }
  
  /**
   * BADGE
   */
  
  .badge {
    color: var(--white);
    font-size: var(--fs-12);
    font-weight: var(--fw-700);
    border: 2px solid transparent;
    padding: 2px 10px;
  }
  
  .badge-fill {
    background: var(--white);
    color: var(--raisin-black);
  }
  
  .badge-outline { border-color: var(--white); }
  
  /**
   * BUTTONS
   */
  
   .btn {
    color: var(--white);
    font-size: var(--fs-11);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 30px;
    border: 2px solid var(--citrine);
    border-radius: 50px;
    transition: var(--transition-1);
  }
  
  .btn > ion-icon { font-size: 18px; }
  
  .btn-primary { background: var(--rich-black-fogra-29); }
  
  .btn-primary:is(:hover, :focus) {
    background: var(--citrine);
    color: var(--xiketic);
  }
  
  /*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 25px;
    transition: var(--transition-2);
    z-index: 4;
  }
  
  .header.active {
    background: var(--eerie-black);
    padding-block: 20px;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-actions { display: none; }
  
  .menu-open-btn {
    color: var(--white);
    font-size: 40px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    right: -300px;
    background: var(--eerie-black);
    width: 100%;
    max-width: 300px;
    height: 100%;
    box-shadow: -1px 0 3px hsl(0, 0%, 0%, 0.2);
    transition: 0.15s ease-in;
    visibility: hidden;
    z-index: 3;
  }
  
  .navbar.active {
    right: 0;
    visibility: visible;
    transition: 0.25s ease-out;
  }
  
  .navbar-top {
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-close-btn {
    color: var(--white);
    font-size: 25px;
    padding: 5px;
  }
  
  .menu-close-btn ion-icon { --ionicon-stroke-width: 80px; }
  
  .navbar-list {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    margin-bottom: 30px;
  }
  
  .navbar-link {
    color: var(--white);
    font-size: var(--fs-8);
    font-weight: var(--fw-500);
    padding: 10px 25px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    transition: var(--transition-1);
  }
  
  .navbar-link:is(:hover, :focus) { color: var(--citrine); }
  
  .navbar-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-social-link {
    font-size: 20px;
    color: var(--white);
    transition: var(--transition-1);
  }
  
  .navbar-social-link:is(:hover, :focus) { color: var(--citrine); }
  
  .overlay {
    position: fixed;
    inset: 0;
    background: hsla(204, 18%, 11%, 0.8);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-2);
  }
  
  .overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  /*-----------------------------------*\
   * #UPCOMING
  \*-----------------------------------*/
  
  .upcoming {
    background: url("../images/upcoming-bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: var(--section-padding);
  }
  
  .upcoming .flex-wrapper { margin-bottom: 50px; }
  
  .upcoming .section-title { margin-bottom: 30px; }
  
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .upcoming .filter-btn {
    color: var(--white);
    background: var(--raisin-black);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    border: 2px solid var(--gunmetal-1);
    padding: 12px 26px;
    border-radius: 50px;
  }
  
  .upcoming .filter-btn:focus { border-color: var(--citrine); }
  
  .upcoming .movies-list > li {
    min-width: 100%;
    scroll-snap-align: start;
  }
  
  /*-----------------------------------*\
   * #FOOTER
  \*-----------------------------------*/
  
  .footer-top {
    background: url("../images/footer-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: 80px 50px;
  }
  
  .footer-brand-wrapper .logo {
    width: max-content;
    margin-inline: auto;
    margin-bottom: 60px;
  }
  
  .footer-list,
  .quicklink-list,
  .social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .footer-link {
    color: var(--light-gray);
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    padding: 5px 15px;
    transition: var(--transition-1);
  }
  
  :is(.footer-link, .quicklink-link, .social-link):is(:hover, :focus) { color: var(--citrine); }
  
  .divider {
    height: 4px;
    margin-block: 40px;
    border-top: 1px solid var(--rich-black-fogra-29);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }
  
  .quicklink-list { margin-bottom: 20px; }
  
  .quicklink-link {
    color: var(--gray-x);
    font-size: var(--fs-10);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    padding: 2px 10px;
    transition: var(--transition-1);
  }
  
  .social-list { column-gap: 10px; }
  
  .social-link {
    background: var(--rich-black-fogra-29);
    color: var(--gray-x);
    font-size: 14px;
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: inset 0 4px 8px hsla(0, 0%, 0%, 0.25);
    transition: var(--transition-1);
  }
  
  .footer-bottom { padding-block: 25px; }
  
  .copyright {
    color: var(--gray-x);
    font-size: var(--fs-10);
    font-weight: var(--fw-500);
    line-height: 1.7;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .copyright > a {
    display: inline-block;
    color: var(--citrine);
  }
  
  .footer-bottom-img {
    max-width: max-content;
    width: 100%;
    margin-inline: auto;
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #GO TO TOP
  \*-----------------------------------*/
  
  .go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--citrine);
    color: var(--eerie-black);
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);
    z-index: 2;
  }
  
  .go-top.active {
    opacity: 1;
    visibility: visible;
  }
  
  /*-----------------------------------*\
   * #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 550px screen
   */
  
   @media (min-width: 550px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 42px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      margin-inline: auto;
    }
}

/*-----------------------------------*\
   * #FOOTER (Logo Filmlane no canto inferior esquerdo)
  \*-----------------------------------*/
  
  .footer .logooo img {
    width: 180px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 0 auto; /* Centraliza a logo horizontalmente */
    display: block; /* Garante que a logo seja tratada como um elemento bloco */
  }
  
  .footer-brand-wrapper,
  .quicklink-wrapper,
  .footer-bottom .container {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo dentro do container */
    align-items: center;
  }
  
  .quicklink-list { margin-bottom: 0; }
  
  .copyright { margin-bottom: 0; }
  
  /**
   * responsive for large than 992px screen
   */
  
   @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
   }

   /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 60px;
      --fs-4: 26px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1320px; }
}

 /*-----------------------------------*\
   * #HEADER (Logo Film Echo no canto superior esquerdo)
  \*-----------------------------------*/
  
  .header .logo img {
    width: 160px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    position: absolute;
    top: 13px;
    left: 20px;
    z-index: 10; /* Para garantir que a logo fique acima de outros elementos */
  } 
  
  
  